<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <header>
        <img src="logo.png" alt="FEU Logo">
        <p>FEU Roosevelt</p>
    </header>
    <nav>
        <a href="#home">Home</a>
        <a href="#gallery">Gallery</a>
        <a href="#members">Members</a>
    </nav>
    <section id="gallery">
        <h2>Gallery</h2>
        <div class="gallery">
            <button class="ButtonGallery">Campus</button>
            <button class="ButtonGallery">Student</button>
            <button class="ButtonGallery">Tamaraw</button>
            <button class="ButtonGallery">DiscreteMath</button>
        </div>
        <div class="Modals"></div>
    </section>
    <section id="members">
        <h2>Group Members</h2>
        <div class="member-container">
            <div class="member">
                <img src="../public/nicolas.jpg" alt="Nicolas">
                <h3>Nicolas Thomas Reyes</h3>
            </div>
            <div class="member">
                <img src="../public/terence.jpg" alt="Terence">
                <h3>Terence John Conti</h3>
            </div>
            <div class="member">
                <img src="../public/rei gamer.jpg" alt="Rei">
                <h3>Rei Andre Torrequemada</h3>
            </div>
            <div class="member">
                <img src="../public/yuan gamer.jpg" alt="Yuan">
                <h3>Yuan Carlos Delfin</h3>
            </div>
            <div class="member">
                <img src="../public/cody gamer.jpg" alt="Cody">
                <h3>Afrain Cody Balungao</h3>
            </div>
        </div>
    </section>
    <footer>
        <p>© 2025 FEU Sinag Tamaraw Project</p>
    </footer>
    <script src="../function/index.js"></script>
</body>

</html>